<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.mapper.GroupMessageMapper">
    <select id="getMesListAll" resultType="com.x.pojo.vo.GroupMessageVO">
        SELECT
            gm.id AS message_id,
            gm.group_id,
            gc.group_name,
            gc.group_avatar,
            gm.content,
            gm.created_at AS message_time,
            u.id AS sender_id,
            u.username AS sender_name,
            u.avatar AS sender_avatar
        FROM
            group_member gmb
                JOIN
            group_message gm ON gmb.group_id = gm.group_id
                JOIN
            group_chat gc ON gm.group_id = gc.id
                JOIN
            user u ON gm.sender_id = u.id
        WHERE
            gmb.user_id = #{id}
        ORDER BY
            gm.group_id ASC,
            gm.created_at ASC;
    </select>
    <select id="getMesList" resultType="com.x.pojo.vo.GroupSessionVO">
        SELECT
            gc.id AS group_id,
            gc.group_name,
            gc.group_avatar,
            gm.id AS message_id,
            gm.content,
            gm.created_at AS message_time,
            gm.sender_id,
            u.username AS sender_name,
            u.avatar AS sender_avatar
        FROM
            group_chat gc
                JOIN group_member gmb ON gc.id = gmb.group_id
                JOIN (
                SELECT
                    gm1.group_id,
                    MAX(gm1.created_at) AS latest_time
                FROM
                    group_message gm1
                        JOIN group_member gmb1 ON gm1.group_id = gmb1.group_id
                WHERE
                    gmb1.user_id = #{userId}
                GROUP BY
                    gm1.group_id
            ) latest ON gc.id = latest.group_id
                JOIN group_message gm ON gm.group_id = latest.group_id AND gm.created_at = latest.latest_time
                JOIN (
                SELECT
                    gm2.group_id,
                    MAX(gm2.id) AS latest_id
                FROM
                    group_message gm2
                        JOIN group_member gmb2 ON gm2.group_id = gmb2.group_id
                WHERE
                    gmb2.user_id = #{userId}
                GROUP BY
                    gm2.group_id
            ) latest_msg_id ON gm.group_id = latest_msg_id.group_id AND gm.id = latest_msg_id.latest_id
                JOIN user u ON gm.sender_id = u.id
        WHERE
            gmb.user_id = #{userId}
        ORDER BY
            gm.created_at DESC;

    </select>
</mapper>