<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.mapper.PrivateMessageMapper">

    <select id="getMesList" resultType="com.x.pojo.entity.PrivateMessage">
        SELECT m.*
        FROM private_message m
                 JOIN (
            SELECT
                LEAST(sender_id, receiver_id) AS user1,
                GREATEST(sender_id, receiver_id) AS user2,
                MAX(created_at) AS latest_time
            FROM private_message
            GROUP BY user1, user2
        ) latest_time
                      ON LEAST(m.sender_id, m.receiver_id) = latest_time.user1
                          AND GREATEST(m.sender_id, m.receiver_id) = latest_time.user2
                          AND m.created_at = latest_time.latest_time
                 JOIN (
            SELECT
                LEAST(sender_id, receiver_id) AS user1,
                GREATEST(sender_id, receiver_id) AS user2,
                MAX(id) AS latest_id
            FROM private_message
            GROUP BY user1, user2
        ) latest_id
                      ON LEAST(m.sender_id, m.receiver_id) = latest_id.user1
                          AND GREATEST(m.sender_id, m.receiver_id) = latest_id.user2
                          AND m.id = latest_id.latest_id
        WHERE #{id} IN (m.sender_id, m.receiver_id)
        ORDER BY m.created_at DESC;

    </select>
</mapper>