<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.mapper.UserMapper">
    <update id="update">
        UPDATE user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="region != null">
                region = #{region},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
        </set>
            WHERE id = #{id}
    </update>
    <select id="getUserGrowthData" resultType="java.lang.Long">
        SELECT
            IFNULL(COUNT(u.id), 0) AS count
        FROM (
            SELECT CURDATE() - INTERVAL 6 DAY AS date
            UNION ALL SELECT CURDATE() - INTERVAL 5 DAY
            UNION ALL SELECT CURDATE() - INTERVAL 4 DAY
            UNION ALL SELECT CURDATE() - INTERVAL 3 DAY
            UNION ALL SELECT CURDATE() - INTERVAL 2 DAY
            UNION ALL SELECT CURDATE() - INTERVAL 1 DAY
            UNION ALL SELECT CURDATE()
            ) AS d
            LEFT JOIN user u ON DATE(u.created_at) = d.date
        GROUP BY d.date
        ORDER BY d.date;


    </select>
    <select id="getUserTodayAdd" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM user
        WHERE DATE(created_at) = CURDATE();
    </select>
    <select id="getByIds" resultType="com.x.pojo.entity.User">
        SELECT
            *
        FROM
            user
        WHERE
            id IN
        <foreach item="id" collection="userIds" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>